html, body{
	margin: 0;
	height: 100%;
	background-color: #000000;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("img/background.gif");
}

.container {
	background-color: rgba(0, 0, 0, 0.7);
	border: 5px solid #05FF00;
	border-radius: 30px;
	height: 790px;
	width: 1200px;
	padding: 10px;
}

.main {
	background-image: url("img/neo.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 38%;
}
h1 {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: bold;
	font-size: 144px;
	line-height: 169px;

	color: #FFFFFF;

	text-shadow: #05FF00 0px 0px 2px,   #05FF00 0px 0px 2px,   #05FF00 0px 0px 2px, #05FF00 0px 0px 2px,   #05FF00 0px 0px 2px,   #05FF00 0px 0px 2px;

}

p {
	display: inline-block;
	font-family: "Roboto Mono", Monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	line-height: 36px;
	
	color: #FFFFFF;

	text-shadow: #05FF00 0px 0px 2px,   #05FF00 0px 0px 2px,   #05FF00 0px 0px 2px, #05FF00 0px 0px 2px,   #05FF00 0px 0px 2px,   #05FF00 0px 0px 2px;
}

.maintext {
	width: 800px;
}

.navbar {
	display: flex;
	justify-content: space-around;
}

hr {
	color: #05FF00;
}
.navbar a {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	text-align: center;

	color: #FFFFFF;

	text-shadow: -2px 0 #05FF00, 0 2px #05FF00, 2px 0 #05FF00, 0 -2px #05FF00;
}

